.light {
    --background-color: rgb(255, 255, 255);

    --header-color: rgb(44, 45, 49);
    --header-contrast-color: rgb(241,241,241);

    --text-color: rgb(56, 58, 66);

    --primary-color: rgb(247,0,103);
    --secondary-color: rgb(0,110,255);
    --tertiary-color: rgb(247,202,0);
    --quaternary-color: rgb(0, 219, 146);
}

.dark {
    --background-color: rgb(25, 25, 29);

    --header-color: rgb(241,241,241);
    --header-contrast-color: rgb(44, 45, 49);

    --text-color: rgb(214, 214, 214);

    --primary-color: rgb(247,0,103);
    --secondary-color: rgb(0,110,255);
    --tertiary-color: rgb(247,202,0);
    --quaternary-color: rgb(0, 219, 146);
}

.transition, .transition *  {
    transition: all 300ms ease 0ms !important;
}