@import url("utilities/typography.css");
@import url("utilities/data.css");
@import url("utilities/media.css");

/*
 * A CSS file to control the layout of HTML elements.
 */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 2rem; /* TODO: replace with footer of default size */
}

main > div.content {
    width: 88%;
}

@media screen and (min-width: 1376px) {
    main > div.content {
        width: 66%;
    }
}

@media screen and (min-width: 2048px) {
    main > div.content {
        width: 44%;
    }
}
