:root {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    height: 100%;

    background: var(--background-color);
    color: var(--text-color);
}

div.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 16px 0;
}

div.flex-container > div.flex-content {
    width: 88%;
}

@media screen and (min-width: 768px) {
    div.flex-container > div.flex-content {
        max-width: 66%;
    }
}

@media screen and (min-width: 1600px) {
    div.flex-container > div.flex-content {
        max-width: 44%;
    }
}

p {
    display: flex;
}

img {
    width: 100%;
    height: 256px;

    border-radius: 6px;

    object-fit: cover;   
}

@media screen and (min-height: 1024px) {
    img {
        height: 512px;
    }
}

@media screen and (min-height: 1280px) {
    img {
        height: 700px;
    }
}