.light {
    --background-color: rgba(255, 255, 255);

    --header-color: rgba(37, 37, 43);
    --text-color: rgba(56, 58, 66);
}

.dark {
    --background-color: rgba(32, 36, 44);

    --header-color: rgba(228, 238, 255);
    --text-color: rgba(171, 178, 191);
}