@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

h1,
h2,
h3, 
h4, 
h5,
h6 {
    color: var(--header-color);
    letter-spacing: -0.02em;
}

h1 {
    font-weight: 600;
    font-size: 2.25rem;

    margin: 2rem 0 1rem 0;
}

h2 {
    font-weight: 600;
    font-size: 1.125rem;

    margin: 4rem 0 2rem 0;
}

h3 {
    font-weight: 500;
    font-size: 1.1125rem;

    margin: 2rem 1rem;
}

h4 {
    font-weight: 500;
    font-size: 1rem;

    margin: 0rem 2rem;
}

h5, h6 {
    font-weight: 400;
    font-size: 1rem;

    margin: 0rem 3rem;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.125rem;
    }

    h4, h5, h6 {
        font-size: 1rem;
    }
}

p {
    display: block;
    flex-direction: column;
    margin: 0 1rem;

    line-height: 1.75rem;
}

h3 + p {
    margin: 0 2rem;
}

h4 + p {
    margin: 0 3rem;
}

h5 + p {
    margin: 0 4rem;
}

h6 + p {
    margin: 0 5rem;
}