@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");

h1,
h2,
h3 {
    color: var(--header-color);
    letter-spacing: -0.02em;

    max-width: max-content;
    width: 75%;
    position: relative;
}

h1::before,
h1::after,
h2::before,
h2::after,
h3::before,
h3::after {
    content: "";
    position: absolute;
    border-radius: 1px;
}

h1::before,
h1::after,
h2::before,
h2::after,
h3::before,
h3::after {
    top: -0.5rem;
    left: -1rem;
    bottom: -0.5rem;
    right: -1rem;
}

h1::before,
h2::before,
h3::before {
    background: var(--header-contrast-color);
    transform: rotate(-1deg);
    z-index: -1;

    transition: all 300ms ease;
}

h1:hover::before,
h2:hover::before,
h3:hover::before {
    transform: rotate(-1.5deg);
}

h1::after,
h2::after,
h3::after {
    transform: rotate(-1.5deg) translate(1.25rem, 0.75rem);
    z-index: -2;

    transition: all 300ms ease;
}

h1::after {
    background: var(--primary-color);
}

h2::after {
    background: var(--secondary-color);
}

h3::after {
    background: var(--tertiary-color);
}

h1:hover::after,
h2:hover::after,
h3:hover::after {
    transform: rotate(-1deg) translate(1rem, 0.5rem);
}

h1 {
    font-weight: 600;
    font-size: 1.75rem;

    margin: 4rem 1rem 3rem;
}

h2 {
    font-weight: 600;
    font-size: 1.125rem;

    margin: 6rem 1rem 2rem;
}

h3 {
    font-weight: 500;
    font-size: 1.1125rem;

    margin: 3rem 2rem 2rem;
}

table tr th {
    color: var(--header-color);
    font-size: 1.1125rem;
}

@media screen and (min-width: 810px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3,
    table tr th {
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 2048px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3,
    table tr th {
        font-size: 1.5rem;
    }
}

p {
    display: block;
    flex-direction: column;
    margin: 0 1rem;

    line-height: 1.75rem;
}

h1 + p {
    margin-bottom: 4rem;
}

h3 + p {
    margin: 0 2rem;
}
